<!DOCTYPE html>
<html>
<head>
  <title>Database Info</title>
  <%= stylesheet_link_tag    "rails_db_info/application", media: "all" %>
  <%= javascript_include_tag "rails_db_info/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'rails_db_info/tables/header' %>

<%= yield %>

</body>
</html>
